.inputContainer {
    margin: 20px 0;
    width: 100%;
    padding: 10px;
    border: 4px solid black;
}

.submitButton{
    background-color: purple;
    width: 180px;
    display: block;
    margin: 0px auto;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    font-size: 18px;
    font-family: "Courier New", Courier, monospace;
    color: white;
    margin-top: 30px;
    padding: 20px;
    text-align: center;
    cursor: pointer;
}

.inputContainer:hover{
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.94);
}

.headingTwo{
    width: 100%;
    margin-bottom: 10px;
}

.container{
    width: 500px;
    text-align: center;
}

.parentContainer{
    width:100%;
    display: flex;
    justify-content: center;
}
