.container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgContainer{
    flex: 1;
    position: relative;
    height: 350px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.formsContainer{
    flex: 1;
    display:flex;
    flex-direction: column;
}
.formsContainer input, .formsContainer textarea{
    padding: 20px;
    display: block;
    margin-bottom: 10px;
    border-radius: 5px;
    border: none;
    outline: none;
    background-color: var(--bgSoft);
    background-color: var(--text);
    width: 75%;
}

.formsContainer button{
    height: 50px;
    width: 250px;
    background-color: #3673fd;
    border-radius: 10px;
    color: white;
}

.formsContainer button:hover{
    background-color: gray;
    cursor: pointer;
    transition: 0.1s;
}

@media (max-width: 640px){
    .imgContainer{
      display: none;
    }
  }
