.container h1{
    font-size: 50px;
    text-align: center;
}

.container{
    display: flex;
    width: 100%;   
    flex-wrap: wrap;
    justify-content: center;
}

.buttons{
    display: flex;
    justify-content: center;
    gap: 20px;
    width: 75%;
}

.button{
    height: 75px;
    width:  130px;
    border-radius: 10px;
    border: 1px solid black;
    cursor: pointer;
}

.learnMore{
    background-color: #0A355D;
    color:white;
}
.fillContainer{
    width: 600px;
    height: 600px;
    position: relative;
}

.brandImg{
    width: 100%;
    position: relative;
    height: 50px;
    display: flex;
    filter: grayscale(100%);
}

.imgContainer{
    display: flex;
    width: 40%;
    justify-content: center;
}

.textContainer{
    display: flex;
    padding-top: 150px;
    justify-content: start;
    flex-direction: column;
    align-items: center;
    width: 40%;
    gap: 20px;
}

@media (max-width: 1024px){
    .container{
      width: 768px;
    }

    .textContainer h4{
        font-size: 10px;
    }

    .button{
        height: 60px;
        width:  115px;
    }
  }

  @media (max-width: 640px){
    .container{
      width: 475px;
    }

    .imgContainer{
        display: none;
    }

    .textContainer{
        width:100%;
        padding-top: 20px;
    }
  
  }