.container{
    min-width: 60px;
    padding: 10px;
    border-radius: 20px;
    font-weight: 500;
    font-size: 15px;
    text-align: center;
    position: relative;
}

.active{
    background-color: var(--text);
    color: var(--bg);
}

@media (max-width: 1280px){
    .container{
        min-width: 50px;
    }
  }
